# Table of contents

01. Importing libraries and cleaned orders dataset
02. Consistency checks of prior orders dataset

- Looking for anomalies
- Looking for missing observations
- Looking for duplicates

03. Merging datasets
04. Exporting dataset

# 01. Importing libraries and cleaned orders dataset and prior orders dataset

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Importing cleaned orders csv file

df_ords = pd.read_csv(r'/Users/zoey/Career Foundry Stuff/Instacart Basket Analysis - 14.12.2023/02 Data/Prepared Data/orders_checked.csv', index_col = 0)

In [3]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [4]:
# Import orders_prior csv file

df_ords_prior = pd.read_csv(r'/Users/zoey/Career Foundry Stuff/Instacart Basket Analysis - 14.12.2023/02 Data/Original Data/orders_products_prior.csv', index_col = False)

In [5]:
# Checking output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 02. Consistency checks of prior orders dataset

- Looking for anomalies
- Looking for missing observations
- Looking for duplicates

In [16]:
# Looking at the prods dataset for anomalies

df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [17]:
# Looking for missing observations

df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

There are no missing observations, so no further action is needed here. Cool.

In [18]:
# Looking for duplicates in the orders dataset

df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [20]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

There are no duplicates, so no further action is required.

# 03. Merging datasets

In [6]:
# Looking at dimensions of imported orders dataset

df_ords.shape

(3421083, 7)

In [7]:
# Looking at dimensions of imported prior orders dataset

df_ords_prior.shape

(32434489, 4)

In [8]:
#Merging both dataframes

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
# Checking output of merged dataset

df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
# Checking for a full match

df_merged_large["_merge"].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [11]:
#Dropping unnamed column in merged dataset

df_merged_large = df_merged_large.drop(columns=[col for col in df_merged_large.columns if 'Unnamed' in col])

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 04. Exporting dataset

In [13]:
# Exporting merged dataset as pkl file

df_merged_large.to_pickle(r'/Users/zoey/Career Foundry Stuff/Instacart Basket Analysis - 14.12.2023/02 Data/Prepared Data/orders_products_combined.pkl')

In [14]:
df_merged_large.shape

(32434489, 10)