# Table of contents

01. Importing libraries and flagged orders and products dataset
02. Comparing average number of orders per user across departments
03. Finding differences in spending habits

- Creating max order column
- Creating loyalty flga
- Looking at differences in spending habits

04. Different types of spenders

- Creating average price per order column
- Creating a spending flag

05. Determining frequency of orders

- Creating order regularity column
- Assigning order frequency flag

06. Exporting data

# 01. Importing libraries and flagged orders and products dataset

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Importing orders products pkl file

ords_prods_merge = pd.read_pickle(r'/Users/zoey/Career Foundry Stuff/Instacart Basket Analysis - 14.12.2023/02 Data/Prepared Data/busy_ords_prods_merge.pkl')

In [4]:
#Checking imported file

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy days,Average orders

In [5]:
ords_prods_merge.shape

(32404859, 18)

# 02. Comparing average number of orders per user across departments

In [7]:
# Comparing average number of orders per user across each Instacart department

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

There are some slight differences between the averages from the entire dataset vs the averages produced when running this code only using a subset of the data (found previously). 

These are the results from the subset consisting of the first 1,000,000 rows of data. 

1	15.577493

2	17.320781

3	16.084944

4	17.530458

5	14.763075

6	16.658449

7	17.031590

8	15.076662

9	15.447580

10	18.681852

11	15.447411

12	14.327957

13	16.548642

14	16.960241

15	16.121948

16	17.803851

17	15.593633

18	19.674252

19	16.899756

20	16.255442

21	25.535479

Departments 10, 12, and 21 have slightly larger differences, but overall the average calculations from the subset reflect the trends found in the complete dataset.

# 03. Finding differences in spending habits

- Creating max order column
- Creating loyalty flga
- Looking at differences in spending habits

In [8]:
# Splitting data into groups based on user_id column
# Generating maximum order info for each customer based on order_number column
# Creating a max order column 

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/dp/t07shk_d0y5674zpckdywhzc0000gn/T/ipykernel_5964/1840875169.py:5: FutureWarning: The provided callable <function amax at 0x108630400> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Checking for new max_order column 

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy days,Average orders,3

In [10]:
#Assigning loyalty flags to customers based on order numbers

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Printing frequency of new loyalty_flag column

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [12]:
# Determining whether prices of products purchased by loyal customers differ from those regular or new customers

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# 04. Different types of spenders

- Creating average price per order column
- Creating a spending flag

In [13]:
# Creating an average_price_order column

ords_prods_merge['av_price_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/dp/t07shk_d0y5674zpckdywhzc0000gn/T/ipykernel_5964/4285491906.py:3: FutureWarning: The provided callable <function mean at 0x108631120> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['av_price_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,av_price_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,4.972414

In [15]:
#Creating a spending flag for each user based on the average price across all their orders

ords_prods_merge.loc[ords_prods_merge['av_price_order'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['av_price_order'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
#Counting

ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

# 05. Determining frequency of orders

- Creating order regularity column
- Assigning order frequency flag

In [18]:
# Creating an order regularity column

ords_prods_merge['order_regularity'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

/var/folders/dp/t07shk_d0y5674zpckdywhzc0000gn/T/ipykernel_5964/1341335999.py:3: FutureWarning: The provided callable <function median at 0x108777420> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_regularity'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [19]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,av_price_order,spending_flag,order_regularity
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Least busy days,Average orders,3,New customer,4.972414,Low spender,9.0

In [20]:
#Assigning order frequency flags to customers based on order numbers

ords_prods_merge.loc[ords_prods_merge['order_regularity'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_regularity'] <= 20) & (ords_prods_merge['order_regularity'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_regularity'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [21]:
#Counting

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

# 06. Exporting data

In [22]:
# Exporting to pickle

ords_prods_merge.to_pickle(r'/Users/zoey/Career Foundry Stuff/Instacart Basket Analysis - 14.12.2023/02 Data/Prepared Data/ords_prods_merged_flagged.pkl')